site_name: PSDocs for Azure
site_url: https://github.com/Azure/PSDocs.Azure
site_description: Generate documentation from Azure infrastructure as code (IaC) artifacts.
site_author: Microsoft

repo_url: https://github.com/Azure/PSDocs.Azure/
edit_uri: blob/main/docs/

repo_issue: https://github.com/Azure/PSDocs.Azure/issues
repo_discussion: https://github.com/Azure/PSDocs.Azure/discussions

extra_css:
- assets/stylesheets/extra.css

theme:
  language: en
  name: material
  custom_dir: overrides
  font:
    text: Roboto
  palette:
    primary: black
    accent: blue
  logo: assets/ms_icon.png
  favicon: assets/ms_icon.png
  icon:
    repo: fontawesome/brands/github
  features:
  - navigation.instant
  - navigation.indexes
  - navigation.sections:
      level: 1
  - navigation.tabs

nav:
  - Home: index.md
  - Getting started:
    - Overview: overview.md
    - Installation: install-instructions.md
    - Creating your pipeline: creating-your-pipeline.md
    - Publishing:
      - Publish to Azure Storage: publish/blob-storage.md
      # - Publish to Azure DevOps Wiki: publish/devops-wiki.md
      # - Publish to Azure Web App: publish/azure-webapp.md
    - Using metadata: using-metadata.md
    - Troubleshooting: troubleshooting.md
    - License and contributing: license-contributing.md
    - Releases:
      - Change log: https://github.com/Azure/PSDocs.Azure/blob/main/CHANGELOG.md
    - Support: support.md
  - Setup:
    - Configuring options: setup/configuring-options.md
    - Configuring snippets: setup/configuring-snippets.md
  #   - Configuring expansion: setup/configuring-expansion.md

  #   - Configuration options: concepts/about_PSRule_Azure_Configuration.md
  # - Reference:
  #   - By module: en/rules/module.md
  #   - By resource: en/rules/resource.md

markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - pymdownx.snippets
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.pathconverter
  - pymdownx.tabbed
  - pymdownx.details
  - mdx_truly_sane_lists
  - pymdownx.tasklist
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - toc:
      permalink: '#'
      separator: '-'

plugins:
# - mkdocs-simple-hooks:
#     hooks:
#       on_page_markdown: "docs.hooks:replace_maml"
#       on_nav: "docs.hooks:build_reference_nav"
- search
- git-revision-date

extra:
  version:
    provider: mike

  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Azure/PSDocs.Azure/

  local:
    social_preview: https://repository-images.githubusercontent.com/317488850/548f4800-8afc-11eb-98b1-9fb4c897d1d4

  # alternate:

  #   # Switch to English
  #   - name: English
  #     link: /en/
  #     lang: en
